extends layout
block content
    div(class='stories-display__page-container')
        div(class='story-titlebox')
            h1(class='story-titlebox__title')= story.title
                if story.subtitle
                    h3(class='story-titlebox__subtitle')= story.subtitle
                div(class='story-titlebox__author-box')
                    h5(class='story-titlebox__author-box__name')
                        a(href=`/users/${story.userId}/`)= story.User.screenName
                    if story.User.pictureURL
                        div(class='story-titlebox__author-box__image-container')
                            a(href=`/users/${story.userId}/`)
                                img(class='story-titlebox__author-box__image' src=`${story.User.pictureURL}`)
                    div(class=`story-titlebox__like-button-container ${story.id}` id='like-button' name=story.id)
                        if currentUserId    
                            if currentUserStoryLike
                                img(src='../icons8-star-64-yellow.png' class='story-titlebox__like-button-image active')
                            else 
                                img(src='../icons8-star-64.png' class='story-titlebox__like-button-image')
                    if currentUserId === story.userId
                        div(class='story-titlebox__author-box__author-buttons_edit-button')
                            a(href=`/stories/${story.id}/edit`)
                                img(src='../icons8-edit-64.png' class='story-titlebox__authorbox__edit-icon')
                        div(class='story-titlebox__author-box__author-buttons_delete-button')
                            a(href=`/stories/${story.id}/delete`)
                                img(src='../icons8-trash-26.png' class='story-titlebox__authorbox__delete-icon')
        if story.pictureURL
            div(class='story-image__container')
                img(class='story-image' src=`${story.pictureURL}`)

        div(class='story-body')
            pre(class='story-body__content')=story.body

    link(rel='stylesheet' href='/stylesheets/stories-display.css')
    script(src='/javascripts/storylike.js')
