extends layout.pug

include utils.pug

block content
    div(class='stories-delete__page-container')
        h3(class='story-title')=story.title
        div(class='stories-delete__information-container')
            p=`Are you sure you want to delete `
                span(style='color:darkred')=story.title
                p(class='stories-delete__warning-text') This action is irreversible!
        div(class='stories-delete__button-container')
            form(action=`/stories/${story.id}/delete` method='post')
                input(type='hidden' name='_csrf' value=csrfToken)
                button(type='submit' class='stories-delete__button-delete') Delete Story
            a(href=`/stories/${story.id}`) 
                button(type='button' class='stories-delete__button-cancel') Cancel
        link(rel='stylesheet' href='/stylesheets/stories-delete.css')
