extends layout
block content
    div(class='stories-display__page-container')
        div(class='story-titlebox')
            h1(class='story-titlebox__title')= story.title
                if story.subtitle
                    h3(class='story-titlebox__subtitle')= story.subtitle
                div(class='story-titlebox__author-box')
                    div(class='story-titlebox__author-container')
                        h5(class='story-titlebox__author-box__name')
                            a(href=`/users/${story.userId}/` class='story-titlebox__author-box__name-content')= story.User.screenName
                        if story.User.pictureURL
                            div(class='story-titlebox__author-box__image-container')
                                a(href=`/users/${story.userId}/`)
                                    img(title=`${story.User.screenName}'s Profile` class='story-titlebox__author-box__image' src=`${story.User.pictureURL}`)
                        div(class='story-titlebox__author-box__date-created')
                            -const convertDate = (timestamp) => timestamp.toString().slice(0, 16);
                            - let date = convertDate(story.createdAt)
                            p(class='story-titlebox__author-box__date-created-content')=date
                    div(class='story-titlebox__buttons-container')
                        div(class=`story-titlebox__like-button-container ${story.id}` id='like-button' name=story.id)
                            if currentUserId
                                if currentUserStoryLike
                                    img(title='Unlike' src='/icons8-star-64-yellow.png' class='story-titlebox__like-button-image active' id='story-titlebox__like-button-image')
                                else
                                    img(title='Like' src='/icons8-star-64.png' class='story-titlebox__like-button-image' id='story-titlebox__like-button-image')
                        div(class='story-titlebox__like-count-container' id='story-titlebox__like-count-container')
                            p(class='story-titlebox__like-count' id='story-titlebox__like-count')=likeCount
                        if currentUserId === story.userId
                            div(class='story-titlebox__author-box__author-buttons_edit-button')
                                a(href=`/stories/${story.id}/edit`)
                                    img(title='Edit Story' src='/icons8-edit-64.png' class='story-titlebox__authorbox__edit-icon')
                            div(class='story-titlebox__author-box__author-buttons_delete-button')
                                a(href=`/stories/${story.id}/delete`)
                                    img(title='Delete' src='/icons8-trash-26.png' class='story-titlebox__authorbox__delete-icon')
        if story.pictureURL
            div(class='story-image__container')
                img(class='story-image' src=`${story.pictureURL}`)

        div(class='story-body')
            pre(class='story-body__content')=story.body

        div(class='comment-container')
            //- button(type='button' class=`${story.id}` id='view-comment-button') View Comments...
            div(class='comment-view-container')
                 ul(class='comment-view-list' id='comment__view-list')
            div(class='comment-view__icons-container')
                img(title='Toggle Comments' src='/icons8-comments-24.png' class=`${story.id} view-comment__icon form__icon` id='view-comment-icon')
                //- button(type='button' class=`${story.id}` id='add-comment-button') Add Comment...
                img(title='Write Comment' src='/icons8-edit-64.png' class=`${story.id} add-comment__icon form__icon` id='add-comment-icon')

            div(class='comment-form-container hidden' id='comment-form-container')
                textarea(id='comment__body' class=`${story.id} ${currentUserId} ${currentUser.screenName} ${currentUser.pictureURL}` placeholder='Write your comment here...' rows='10')
                div(class='comment-form__icon-container')
                    div(class='comment-form__image-container' id='comment-submit-container')
                        img(title='Submit' src='/icons8-checked-26.png' class='comment-form__submit-icon form__icon icon' id='comment__submit')
                    div(class='comment-form__image-container' id='comment-cancel-container')
                        img(title='Cancel' src='/icons8-cancel-26.png' class='comment-form__cancel-icon form__icon icon' id='comment__cancel')

    link(rel='stylesheet' href='/stylesheets/stories-display.css')
    link(rel='stylesheet' href='/stylesheets/stories-comments.css')
    script(src='/javascripts/storylike.js')
    script(src='/javascripts/comments.js')
