mixin validationErrorSummary(errors)
  if errors
    div(class='errors')
      p The following error(s) occurred:
      ul
        each error in errors
          li= error


mixin field(labelText, fieldName, fieldValue, fieldType = 'text', placeholder = null)
  div
    label(for=fieldName)= labelText
    if fieldType === 'textarea'
      textarea(id=fieldName name=fieldName rows='5' placeholder=placeholder spellcheck=true)= fieldValue
    else
      input(type=fieldType id=fieldName name=fieldName value=fieldValue placeholder=placeholder)


mixin storyBox(storyId, title, subtitle, user, storyPicture, date)
  div(class='main-story-box')
    div(class='story-box-image') 
      a(href=`/stories/${storyId}`)
        img(class='story-box-nestedImage' src=storyPicture)
    div(class='story-box-author')
      a(href=`/users/${user.id}`)
        div(class='story-box-author-name')= user.screenName 
        img(class='story-box-author-picture' src=`${user.pictureURL}`) 
    div(class='story-box-titles')
      a(href=`/stories/${storyId}`)
        div(class='story-box-titles-title')= title
      div(class='story-box-titles-subtitle')= subtitle
    div(class='story-box-info')
      div(class='story-box-info-date')= date
      //- div(class='story-box-info-likes')=
mixin fieldNoLabel(classList, fieldName, fieldValue, fieldType = 'text', placeholder = null)
  div(class=classList)
    if fieldType === 'textarea'
      textarea( id=fieldName name=fieldName rows='5' placeholder=placeholder spellcheck=true)= fieldValue

    else
      input(type=fieldType id=fieldName name=fieldName value=fieldValue placeholder=placeholder)


//- if user does not provide picture, our site would provide default image.



//- mixin comments()