extends layout.pug

include utils.pug

block content
    h3=story.title
    div
        p=`Are you sure you want to delete `
            span(class='story-title' style='color:red')=story.title
            p This action is irreversible!
    div
        form(action=`/stories/${story.id}/delete` method='post')
            input(type='hidden' name='_csrf' value=csrfToken)
            button(type='submit' class='delete-button button') Delete Story
            a(href=`/stories/${story.id}` role='button') Cancel
