extends layout
block content 
    div(class='story-titlebox')
        h1(class='story-title')= story.title
            if story.subtitle
                h3(class='story-subtitle')= story.subtitle 
            div(class='story-titlebox-author')
                h5(class='story-titlebox-author-name')= story.User.screenName
                if story.User.pictureURL
                    img(class='story-titlebox-author-picture' src=`${story.User.pictureURL}`)
    if story.pictureURL
        div(class='story-storyImage')
            img(src=`${story.pictureURL}`)

    div(class='story-body')
        p(class='story-body-content')= story.body

    if currentUserId === story.userId
        div(class='story-owner-buttons')
            button(class='button edit-button') Edit
            button(class='button delete-button') Delete



